.top-films {
  &__wrapper {
    &-title {
      &-italic {
        background: var(--gradient-bg-blue);
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: var(--colors-body-background);
        -webkit-text-stroke: 3px;
      }
    }
  }

  &__swiper {
    &-slide {
      &-text {
        background: var(--gradient-bg-blue);
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: var(--colors-body-background);
        -webkit-text-stroke: 7px;
      }
    }
  }
}